<h1>Hello, Rails!</h1>

<ul>
    <% @articles.each do |article| %>
        <li>
        <%= link_to "#{article.id} - #{article.title}", article %>        
        </li>

    <% end %>

    <div style="margin: 20px 0;">
        <%= link_to 'New Article', new_article_path %>
    </div>
    
</ul>